.footer-wrapper .footer-row .footer-row-inner .footer-column:nth-of-type(2) {
    flex-shrink: 0 !important;
    flex-basis: 20em !important;
}

#donaldsonwebring table {
    width: 100%;
}

#donaldsonwebring table .webring-prev {
    text-align: left;
}

#donaldsonwebring table .webring-info {
    text-align: center;    
}

#donaldsonwebring table .webring-next {
    text-align: right;
}

#donaldsonwebring table tr td {
    width: 33%;
}