:root {
    --site-max-width: 900px;
    --site-max-width: 900px;
    --color-near-white: #ffffb5;
    --color-light: #7bc67b;
    --color-medium: #6b8c42;
    --color-dark: #5a3921;
    /* https://lospec.com/palette-list/mist-gb */
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: var(--color-near-white);
    color: var(--color-dark);
}

/* Anchors */
a {
    outline: 0;

}
a:link, a:visited {
    color: var(--color-white);
	text-decoration: underline;
}
a:hover, a:active {
    color: var(--color-light);
}

div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside square;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;
     margin-bottom: 1em; }

     /* Lists */
ul {
	list-style: outside square;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;
     margin-bottom: 1em; }

.post-info {
    /* float:right; */
    margin:10px 0;
    /* padding:5px; */
}

.post-info p{
    margin-top: 1px;
    margin-bottom: 1px;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color:  rgb(238, 238, 238); padding: 10px; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

/* Thead */
thead th {padding: .5em .4em; text-align: left;}
thead td {}

/* Tbody */
tbody td {padding: .5em .4em;}
tbody th {}

tbody .alt td {}
tbody .alt th {}

/* Tfoot */
tfoot th {}
tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/

div.container {
    overflow-x: auto;
    overflow-y: scroll;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "maincontent"
    "footer"
}

header#siteheader {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "headercontent";
    text-align: center;
    background-color: var(--color-light);
    color: var(--color-white);
}

div#headercontent {
    grid-area: headercontent;
}

div#headercontent h1 {
    font-family: "Kenney Pixel", 'Share Tech Mono', 'Courier Prime', 'Courier New', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 1rem 0 0 0;
}

div#headercontent span.subtitle {
    font-family: "Kenney Pixel", 'Share Tech Mono', 'Courier Prime', 'Courier New', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 0 0 1rem 0;
}

main#content {
    grid-area: maincontent;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "content"
}

div#maincontent {
    grid-area: content;
    padding: 0;
}

div#index {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 0;
}

footer#sitefooter {
    height: 3rem;
    background-color: var(--color-light);
    color: var(--color-white);
    font-family: "Kenney Pixel", 'Share Tech Mono', 'Courier Prime', 'Courier New', sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "content"
}

div#footercontent {
    line-height: 3rem;
    grid-area: content;
    text-align: center;

}

div.entry {
    grid-column: span 3;
    /* margin: 1rem 0; */
    color: var(--color-near-white);
}


div.entry:nth-child(even) {
    background: var(--color-medium);
    border: 2px solid var(--color-medium);
}

div.entry:nth-child(even):hover {
    background-color: var(--color-light);
}

div.entry:nth-child(odd) {
    border: 2px solid var(--color-medium);
    background: var(--color-dark);
}

div.entry:nth-child(odd):hover {
    background-color: var(--color-light);
}


div.entry a {
    display: block;
    text-decoration: none;
}

div.entry a:hover {
    color: var(--color-dark);
    }

div.entrytext {
    padding: 1rem;
}

@media all and (min-width: 52rem) {
    /* add the columns on either side to prevent the website from stretching too wide */

    main#content {
        grid-template-columns: 1fr var(--site-max-width) 1fr;
        grid-template-areas: ". content . ";
    }
}